body{
    background-color: rgb(160, 77, 77);
}

h1{
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

h2{
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    border-bottom: 10px solid rgb(255, 255, 255);
    padding: 10px 20px;
}

nav {
    text-align: end;
}

header img{
    height: 60px;
}

a{
    display: inline-flex;
    align-items: center;
    color:#fff;
    font-size: 20px;
    font-family: "Fira Code", Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: '';
    background-color: darkblue;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: darkblue;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 rgb(255, 255, 255);
    margin-right: 0;
    transition: 0.3s ease-in-out;
}

#button:hover{
    background-color: cyan;
    color: #000;
    transform: scale(1.1);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 627px;
    height: 184px;

    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
}

#name{
    color: #F25A70;
    margin-bottom: 28px;
}

.title{
    display: inline-block;
    text-shadow: 4px 4px 0px black;
    /* background-color: #fff; */
}