.skills{
    display: block;
    height: 730px;
    background-color: #F25A70;
    border-bottom: 10px solid #7C5E99;
}

.skills .title{
    text-shadow: none;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 60px;
}

.skills .skill-item{
    display: inline-flex;
    margin: 27px;
}

.skills .title-bar{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.skills .final-wrapper{
    display: flex;
    justify-content: space-around;
}